@using TaskFlowPro.Web.Services
@using TaskFlowPro.Web.Components.UI
@namespace TaskFlowPro.Web.Features.Teams.Components
@inherits TeamFormViewBase

@*
ESTUDIANTE: Formulario de creación/edición de equipos

TAREA: Diseñar y implementar el formulario de equipo usando los componentes UI disponibles

COMPONENTES DISPONIBLES:
- <Card> - Para el contenedor del formulario
- <Input> - Para los campos del formulario
- <Button> - Para acciones (Submit, Cancel, Back)

CAMPOS REQUERIDOS:
- Name (fas fa-users)
- Description (fas fa-align-left)
- Leader (dropdown usando GetAvailableLeaders())

MÉTODOS DISPONIBLES:
- HandleSubmit() - para envío del formulario
- HandleBack() - para volver atrás
- GetAvailableLeaders() - para obtener líderes disponibles

TODO: ESTUDIANTE - Implementar el diseño del formulario aquí
*@

<div class="p-6">
    <h1 class="text-2xl font-bold mb-6">Create Team</h1>

    @* TODO: ESTUDIANTE - Implementar formulario de equipo aquí *@
    <p class="text-gray-600">
        Implementar formulario de equipo usando componentes Card, Input y Button
    </p>
</div>




